*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: boldFont;
    src: url("../font/DMSans-Bold.ttf");
}

@font-face {
    font-family: regularFont;
    src: url("../font/DMSans-Regular.ttf");
}

@font-face {
    font-family: mediumFont;
    src: url("../font/DMSans-Medium.ttf");
}

/* Text colors */
.dark_txt{color: #143d64}
.white_txt{color: #fff}
.purple_txt{color: #757fef;}
.dark_purple_txt{color: #5A5AB5}
.light_purple_txt{color: #d3e8ff}
.orange_txt{color: #ff8100}
.light_orange_txt{color: #ffdcc1}
.grey_txt{color: #ececec}
.light_grey_txt{color: #c9c9c9}
.green_txt{color: #65d866}
.reddish_txt{color: #ff5d5d}

/* Background Colors */
.main_bg{background-color: #f5f7fa;}
.dark_bg{background-color: #3e4042}
.white_bg{background-color: #fff;}
.purple_bg{background-color: #757fef;}
.dark_purple_bg{background-color: #5A5AB5}
.light_purple_bg{background-color: #d3e8ff}
.orange_bg{background-color: #ff8100}
.light_orange_bg{background-color: #ffdcc1}
.grey_bg{background-color: #ececec}
.light_grey_bg{background-color: #f9fafb}
.green_bg{background-color: #65d866}
.reddish_bg{background-color: #ff5d5d}

i{
    font-size: 20px;
}

.button{
    border: none;
    font-family: mediumFont;
    border-radius: 9px;
}






.left_section{
    height: 100vh;
    width: 18%;
    /* border-right: 1px solid #ececec; */
}

.logo span{
    font-family: boldFont;
}

nav{
    margin-top: 80px;
    margin-bottom: 150px;
}
nav a{
    font-family: mediumFont;
    margin-bottom: 40px;
    text-decoration: none;
}
nav a.active{
    color: #143d64;
}




.right_section{
    width: 82%;
    height: 100vh;
    padding: 20px;
}
.inner_right_section{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    /* border: 1px solid #ececec; */
}
.top_nav form{
    width: fit-content;
    border-radius: 9px;
    font-family: regularFont;
}
.top_nav form input{
    border: none;
    background: none;
}
.top_nav form input::placeholder{
    color: #5A5AB5;
}
.top_nav form button{
    background: none;
    border: none;
}
.top_nav_right div i{
    cursor: pointer;
}
.top_nav_right .profile_pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.exam_info_main{
    width: 70%;
    height: 100%;
}
.exam_info_main h3{
    font-family: boldFont;
}
.exam_info_main .exam_name h6{
    font-family: boldFont;
}
.exam_info_main .exam_name div{
    border-radius: 9px;
    font-family: regularFont;
}
.exam_subjects  div a{
    width: fit-content;
    text-decoration: none;
}
.exam_subjects  div a:hover{
    color: #fff;
    cursor: pointer;
}

.exam_info_right{
    width: 30%;
    height: 100%;
}
